html {
  font: 100% / 1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  background: #f9fbfe;
}

.Navi {
  height: 30px;
  padding: 10px 0;
}

.Navi-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.Navi-logo {
  display: inline-block;
}

.Navi-logo h1 {
  font-size: 20px;
}

.Navi-logo p {
  color: #b1c0c0;
  font-size: 12px;
}

.Navi-inner ul {
  float: right;
}

.Navi-inner li {
  color: #2b546a;
  display: inline-block;
  padding-left: 16px;
}



.HeaderTop {
  height: 450px;
  width: 1450px;
  padding-top: 100px;
  float: left;
  background: #;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/proxy/AUYBdJmjbVKq6duaYkl0HGy0O6Ih2FVps9CaNxg2MmzLKKoCU5oTPiyGjbvTYohotO6UGjoz59rKHN6nwg6FBmmW8-9uTlVJQKOn7nn0);
}

.HeaderTop h1 {
  text-align: center;
}

.HeaderTop p {
  text-align: center;
}

.HeaderTop-button {
  text-align: center;
  }



.HeaderLink {
  height: 100px;
  width: 1450px;
  float: left;
  margin: auto;
}

.HeaderLink-eye {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 260px;
  float: left;
  color: #ffffff;
  background: #ff0000;
  text-align: center;
}

.HeaderLink-rec {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 40px;
  float: left;
  color: #ffffff;
  background: #008000;
  text-align: center;
}

.HeaderLink-nail {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 40px;
  float: left;
  color: #ffffff;
  background: #ffff00;
  text-align: center;
}

.HeaderLink-hair {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 40px;
  float: left;
  color: #ffffff;
  background: #800080;
  text-align: center;
}



.News {
  padding-top: 15px;
  width: 1450px;
  height: 215px;
  float: left;
  margin: 0　auto;
}

.News-list {
  width: 500px;
  height: 300px;
  padding-left: 500px;
}


.News-list li {
  list-style: none;
}

.News-inner li {
  font-size: 15px;
  text-align: center;
}

.News-logo {
}

.News-logo img {
}



.Service-menu {
  height: 580px;
  width: 1450px;
  padding: 0px;
  margin: auto;
  float: left;
  background: #;
}

.Service-menu h1 {
  font-size: 20px;
  text-align: center;
}

.Service-hair {
  height: 400px;
  width: 300px;
  padding-left: 240px;
  background: #fff;
  float: left;
}

.Service-hair img {
  height: 250px;
  width: 300px;
}

.Service-hair h2 {
  color: #ff0000;
  font-size: 15px;
  text-align: center;
}

.Service-list {
  height: 400px;
  width: 300px;
  padding-left: 25px;
  background: #fff;
  float: left;
}

.Service-list img {
  height: 250px;
  width: 300px;
}

.Service-list h2 {
  color: #0000ff;
  font-size: 15px;
  text-align: center;
}

.Service-list h3 {
  color: #008000;
  font-size: 15px;
  text-align: center;
}

.Service-button {
  height: 50px;
  width: 1450px;
  padding: 0px;
  margin: auto;
  float: left;
  background: #;
}

.Service-button button {
  margin-top: 50px;
  margin-left: 665px;
}



.Store {
  height: 300px;
  width: 2000px;
  padding: 0px;
  margin: auto;
  float: left;
  background: #87ceeb;
}



.Interview-menu {
  height: 580px;
  width: 1450px;
  padding: 0px;
  margin: auto;
  float: left;
  opacity: ;
  background: #;
  background-size: cover;
  background-image: url(https://cdn.4travel.jp/img/thumbnails/imk/travelogue_pict/18/31/99/650x_18319946.jpg?updated_at=1281578589);
}

.Interview-menu h1 {
  text-align: center;
}

.Interview-1 {
  height: 400px;
  width: 300px;
  padding-left: 240px;
  opacity: 4.0;
  background: #fff;
  float: left;
}

.Interview-1 img {
  height: 250px;
  width: 300px;
}

.Interview-2 {
  height: 400px;
  width: 300px;
  padding-left: 25px;
  background: #fff;
  float: left;
}

.Interview-2 img {
  height: 250px;
  width: 300px;
}



.Company-menu {
  height: 450px;
  width: 1450px;
  padding: 0px;
  margin: auto;
  float: left;
  background: #fffafa;
}

.Company-main {
  height: 350px;
  width: 1000px;
  margin-top: 50px;
  margin-left: 225px;
  float: left;
  background: #fffafa;
}

.Company-main img {
  height: 350px;
  width: 400px;
  float: left;
}

.Company-text {
  height: 300px;
  width: 600px;
  float: left;
  background: #;
}

.Company-text h1 {
  text-align: center;
}

.Company-text p {
  padding-left: 15px;
  padding-right: 5px;
}

.Company-info {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 70px;
  float: left;
  color: #ffffff;
  background: #ff0000;
  text-align: center;
}

.Company-q {
  height: 30px;
  width: 200px;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 70px;
  float: left;
  color: #ffffff;
  background: #0000ff;
  text-align: center;
}



.Recruit {
  height: 300px;
  width: 600px;
  background: #ddd;
  background-image: url(https://lh3.googleusercontent.com/proxy/Z5GBK4sK8Q_BV5f7kS5IuoSsDlvf5HSVt9YDP5jL_GgDGWsm6fas3Lic5hGhWhoms570gMVkSEoFNLIkfnjBmZsEtjhbLl6ibo69rMIZCcAJb6J57Cl4lHccTYl-qg);
  background-size: cover;
  margin: 0 auto;
  float: left;
}



.Footer {
  height: 400px;
  width: 1000px;
  padding: 0px;
  margin: auto;
  float: left;
}

.Footer h1{
  font-size: 20px;
}

.Footer h2{
  font-size: 18px;
}

.Footer li{
  list-style: none;
}

.Footer-group {
  height: 400px;
  width: 250px;
  padding: 0px;
  float: left;
}

.Footer-salon {
  height: 400px;
  width: 250px;
  padding: 0px;
  float: left;
}

.Footer-about {
  height: 400px;
  width: 250px;
  padding: 0px;
  float: left;
}

.Footer-info {
  height: 400px;
  width: 250px;
  padding: 0px;
  float: left;
}

.Footer-item {
  width: 240px;
  height: 250px;
  background: #ffffff;
  margin: 15px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 3px;
  position: relative;
}

.Footer-name {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  text-align: center;
}

.Footer-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  height: auto;
  width: 60%;
}
